body{
    margin: 0;
    padding: 0;
}
.Nav{
    position:sticky;
    display: flex;
    width: 100%;
    top: 0; 
    justify-content: space-between;
    align-items: center;
    background-color: #585757;
    z-index: 1000;
    opacity: 85%;
    border: none;
}
.Nav a{
    text-decoration: none;
    color: white;
    transition: all .33s ease-in;
}
.Nav a:hover{
    color: rgb(2, 173, 173);
    font-size: 1.1rem;
}

.NavLeft{
    flex: 1;
    margin-left: 8px;
}

.NavRight{
    flex:1;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
